[package]
name = "genomap"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
fnv = "1.0.7"
thiserror = "1.0.56"

[dev-dependencies]
criterion = "0.5.1"
rand = "0.8.5"

